body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

/* Neon Title */
.neon-title {
  font-size: 2.4rem;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px cyan;
}

/* Card */
.neon-card {
  background: rgba(0, 0, 0, 0.55);
  padding: 20px;
  width: 70%;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.5);
}

/* Buttons */
.btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background: #ffd44d;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.neon-btn {
  box-shadow: 0 0 10px #00eaff, 0 0 20px #ff00ff;
}

.ghost-btn {
  background: rgba(255, 255, 255, 0.2);
}

/* Input */
input {
  padding: 12px;
  width: 60%;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Progress Bar */
.progress {
  width: 100%;
  height: 8px;
  background: rgba(255,255,255,0.15);
  border-radius: 5px;
  margin-top: 20px;
}

#progressBar {
  height: 8px;
  width: 0%;
  background: linear-gradient(45deg, #00eaff, #ff00ff);
  border-radius: 5px;
}

/* Hint & Feedback */
.hint-box {
  margin: 10px 0;
  font-size: 1.1rem;
  color: #ffddff;
}

.feedback {
  font-size: 1.2rem;
  margin: 10px 0;
}

.music-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 10px 18px;
  background: #ffd44d;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999;
}
